{% extends 'translator/andbase.html' %}

{% block content %}

<div class="container text-light ">
  <h1 class="text-center mt-0">번역 완료</h1>

  <hr class="divider my-4">

    <div class="row justify-content-center mb-3">
      <textarea rows="10" id="result" value={{output}} class="bg-light text-dark shadow-sm p-2 my-3 mx-5 col-sm-8 col-lg-4 text-left">{{output}}</textarea>
    </div>

    <!-- <button class="btn btn-success btn-sm" id=btn data-clipboard-target="#result">클립보드에<br><i class="fas fa-copy"></i> 복사</button> -->
    <a class="btn btn-primary btn mb-2" href="/andselect"><i class="fas fa-redo-alt"></i> 다시하기</a>
    &nbsp;
    <button class="btn btn-info btn-sm mb-2" id="google">구글 번역기로<br><i class="fas fa-language"></i> 확인</button>
    &nbsp;
    <a class="btn btn-warning btn mb-2" href="/and"><i class="fas fa-home"></i> 처음으로</a>
</div>

  {% block empty %}
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="//code.jquery.com/jquery.min.js"></script>

  <script>
    // var clipboard = new ClipboardJS( '#btn' );
    // clipboard.on( 'success', function() {
    //   alert( '복사되었습니다' );
    // } );
    // clipboard.on( 'error', function() {
    //   alert( '실패하였습니다' );
    // } );

    $('#google').click(function(){

      location.href='https://translate.google.com/#view=home&op=translate&sl=ko&tl=en&text='+$('#result').val();
      // window.open('https://translate.google.com/#' + $.param({view:'home', op:'translate', sl:'ko', tl:'en', text:$('#result').val()}), '_blank');
    });
  </script>

{% endblock %}
