{% extends 'translator/base.html' %}

{% block content %}

      <div class="container text-light">
        <h1 class="text-center pt-5">번역 방법 선택</h1>

        <hr class="divider my-4">

        <div class="row pb-5">

          <div class="col-lg-4 col-md-6 text-center">
            <a class="text-light" href="/translator1">
            <div class="mt-5">
              <i class="fas fa-4x fa-plus text-primary mb-4"></i>
              <h3 class="h4 mb-2">받침 넣기</h3>
              <p class="text-white-50 mb-0">한국인엗겓 받칩닏닫</p>
            </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 text-center">
            <a class="text-light" href="/translator2">
            <div class="mt-5">
              <i class="fas fa-4x fa-times text-primary mb-4"></i>
              <h3 class="h4 mb-2">된소리 되기</h3>
              <p class="text-white-50 mb-0">쒸프트키까 안빠쪄요</p>
            </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 text-center">
            <a class="text-light" href="/translator3">
            <div class="mt-5">
              <i class="fas fa-4x fa-divide text-primary mb-4"></i>
              <h3 class="h4 mb-2">자모 분리</h3>
              <p class="text-white-50 mb-0">ㅎㅏㄴㄱㅡㄹㅇㅡㅣㅇㅜㅣㄷㅐㅎㅏㅁ</p>
            </div>
            </a>
          </div>

        </div>

      </div>

    {% endblock %}
