{% extends 'translator/base.html' %}

{% block content %}

<div class="container text-light ">
  <h1 class="text-center mt-0">번역 완료</h1>

  <hr class="divider my-4">

    <div class="row justify-content-center mb-3">
      <textarea id="result" value={{output}} class="bg-light text-dark shadow-sm p-2 my-3 mx-5 col-sm-8 col-lg-4 text-left">{{output}}</textarea>
    </div>

    <button class="btn btn-success btn-lg" id=btn data-clipboard-target="#result">클립보드에 복사</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary btn-lg" href="/">처음으로</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <script>
      var clipboard = new ClipboardJS( '#btn' );
      clipboard.on( 'success', function() {
        alert( '복사되었습니다' );
      } );
      clipboard.on( 'error', function() {
        alert( '실패하였습니다' );
      } );
    </script>

{% endblock %}
