{% extends 'translator/base.html' %}

{% block content %}

<div class="container text-light ">
  <h1 class="text-center mt-0">번역 완료</h1>

  <hr class="divider my-4">

    <div class="row justify-content-center mb-3">
      <textarea rows="10" id="result" value={{output}} class="bg-light text-dark shadow-sm p-2 my-3 mx-5 col-sm-8 col-lg-4 text-left">{{output}}</textarea>
    </div>

    <button class="btn btn-success btn-sm" id=btn data-clipboard-target="#result">클립보드에<br><i class="fas fa-copy"></i> 복사</button>
    &nbsp;&nbsp;
    <a class="btn btn-primary btn" href="/select"><i class="fas fa-redo-alt"></i> 다시하기</a>
    &nbsp;&nbsp;
    <a class="btn btn-warning btn" href="/"><i class="fas fa-home"></i> 처음으로</a>
    <br>
    <br>
    <a href='https://play.google.com/store/apps/details?id=kr.breakorean&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='다운로드하기 Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/ko_badge_web_generic.png' style='width: 130px;'/></a>
</div>

  {% block empty %}
  {% endblock %}

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <script>
      var clipboard = new ClipboardJS( '#btn' );
      clipboard.on( 'success', function() {
        alert( '복사되었습니다' );
      } );
      clipboard.on( 'error', function() {
        alert( '실패하였습니다' );
      } );
    </script>

{% endblock %}
